// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{background-color: #fff;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.strong{
	font-weight: bold;
	margin: 0;
}

h1{
	display: block;
	font-family: verdana, arial, helvetica, sans-serif;
	line-height: 18px;
	font-weight: bold;
	margin: 0 auto;
}

p{
    line-height: 18px;
    margin: 33px;
    color: #333;
}

